.react-calendar{
    width: 49%;
    min-width: 400px;
    margin-top: 20px;
    border: 1px solid #ddd;
}

.timeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 900px){
    .timeContainer{
        justify-content: start;
    }   
    
    .react-calendar{
        margin-top: 20px;
        width: 100%;
        max-width: 600px;
        min-width: 200px !important;
    } 
}

@media only screen and (max-width: 420px){
    .timeContainer{
        justify-content: space-evenly;
    }   
}